#box-wrapeer{
	background-image: url(../../img/img1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px;
}
#box-wrapeer h3{
	margin-top: 150px;
	text-align: center;
	color: white;
	padding: 10px;
	font-family:'Baloo Chettan',cursive;
	font-weight: bold;
	font-size: 50px;
}
#box-wrapeer p {
	text-align: justify;
	font-size: 20px;
	font-family: 'Baloo Chettan',cursive;
	padding: 50px;
	color: white;
}
#box{

	background-color: rgba(0, 2, 2, 0.7);
	background: rgba(0, 2, 2, 0.7);
	color: rgba(0, 2, 2, 0.7);
	min-height: 640px;

}